.gallery__s2 img{
    
  
  height: 250px;
    margin: 2px;
    flex-basis: 20%;
    flex-grow: 1;
    padding: 20px;
    
}
.gallery{
    padding: 10px;
    background-color: rgb(83, 57, 80);
    width: 50%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 2px;
    border: solid rgb(242, 14, 14) 2px;
}
.gallery__s2{
    display: flex;
   margin: 20px;
    flex-wrap: wrap;
    
}
.gallery__title{
    color: white;
    font-size: 30px;
    border-bottom: solid white 1px;
    padding-bottom: 2px;
}
